[submodule "RMGitHubDemo/RMGitHubDemo/Libraries/AFNetworking"]
	path = RMGitHubDemo/RMGitHubDemo/Libraries/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "RMGitHubDemo/RMGitHubDemo/Libraries/SLRESTfulCoreData"]
	path = RMGitHubDemo/RMGitHubDemo/Libraries/SLRESTfulCoreData
	url = https://github.com/OliverLetterer/SLRESTfulCoreData.git
[submodule "RMGitHubDemo/RMGitHubDemo/Libraries/CTDataStoreManager"]
	path = RMGitHubDemo/RMGitHubDemo/Libraries/CTDataStoreManager
	url = https://github.com/ebf/CTDataStoreManager.git
